<?xml version="1.0" encoding="UTF-8"?>
<web-app>
 <!-- servlet configuration -->

<servlet>
<servlet-name>wedding</servlet-name>
<servlet-class>com.nt.servlet.EligiblityServlet</servlet-class>
</servlet>

<!-- servlet mapping -->

<servlet-mapping>
<servlet-name>wedding</servlet-name>
<url-pattern>/weddingurl</url-pattern>

</servlet-mapping>
  <display-name>WedApp</display-name>
  <welcome-file-list>
    <welcome-file>input.html</welcome-file>
  </welcome-file-list>
</web-app>